body {
  max-width: 500px;
  margin: 0 auto;
}

.home-page {
  background: #cbb5b5;
  text-align: center;
  width: 411px;
  height: 731px;
}

.title {
  font-family: 'Rammetto One', cursive;
  color: #856d6d;
  padding-top: 150px;
  font-size: 41px;
}

.home-page p {
  font-size: 31px;
  width: 300px;
  text-align: center;
}