div{
    text-align: center;
    background-color: rosybrown;
    margin-left: 50px;
    margin-right:50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
h2{
    background-color: rosybrown;
    margin-bottom: 5px;
    margin-left: 0px;
    margin-right: 0px;

}