

.App {
  text-align: center;
    background-color: rosybrown;
    margin-left: 50px;
    margin-right:50px;
    width: 350px;
    border-radius: 30px;

}
.input-number{

  display: inline-block;


}
.input{
  height: 24px;
}
.plus {
  display: inline-block;
  top: 10px;
  width: 24px;

  background-color: rgb(63, 100, 2);
  color: white;

  border: none;
  }


  input[type=text], select, textarea {
    width: 40%;
    padding: 12px;
 
    border-radius: 30px;
    resize: vertical;
    margin-top: 10px;
    background-color:#a09898;
    border: none;
    color:white;
   

}
.next{
  width: 20%;
  padding: 12px;
  background-color: #856D6D;

  border-radius: 30px;
  display: inline-block;
  border:none;
}

.minus{
  display: inline-block;
  
  
  width: 24px;
  background-color: red;

  color: white;

  text-align: x;
  text-align: center;


}

